{
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"plugins": ["react"],
	"parserOptions": {
		"ecmaVersion": 2015,
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"mocha": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
