module.exports = {
  'rules': {
    'color-no-invalid-hex': true,
    'function-calc-no-unspaced-operator': true,
    'function-linear-gradient-no-nonstandard-direction': true,
    'unit-no-unknown': true,
    'property-no-unknown': true,
    'declaration-block-no-duplicate-properties': true,
    'block-no-empty': true,
    'selector-pseudo-class-no-unknown': true,
    'selector-pseudo-element-no-unknown': true,
    'at-rule-no-unknown': true,
    'comment-no-empty': true,
    'no-extra-semicolons': true,
    'unit-whitelist': ["px", "em", "rem", "vh", "vw", "fr", "deg", "%", "s", "ms"]
  }
}
