.c-hamburger
	span.c-hamburger__line.c-hamburger__line--01
		span.c-hamburger__line-in.c-hamburger__line-in--01
	span.c-hamburger__line.c-hamburger__line--02
		span.c-hamburger__line-in.c-hamburger__line-in--02
	span.c-hamburger__line.c-hamburger__line--03
		span.c-hamburger__line-in.c-hamburger__line-in--03
	span.c-hamburger__line.c-hamburger__line--cross01
		span.c-hamburger__line-in.c-hamburger__line-in--cross01
	span.c-hamburger__line.c-hamburger__line--cross02
		span.c-hamburger__line-in.c-hamburger__line-in--cross02