*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}


html {
	text-size-adjust: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

html,
body,
#root {
	height: 100%;
}

#root {
	isolation: isolate;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	background-color: transparent;
	cursor: pointer;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		transition: none !important;
	}
}
