include ./mixins.pug
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name='description', content='')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		//- meta(property='og:image', content='images/image.jpg')
		//- link(rel='shortcut icon', href='images/favicons/favicon.ico', type='image/x-icon')
		//- link(rel='apple-touch-icon', href='images/favicons/apple-touch-icon.png')
		//- link(rel='apple-touch-icon', sizes='72x72', href='images/favicons/apple-touch-icon-72x72.png')
		//- link(rel='apple-touch-icon', sizes='114x114', href='images/favicons/apple-touch-icon-114x114.png')
		//- Chrome, Firefox OS and Opera
		//- link(rel='manifest', href='images/favicons/manifest.json')
		meta(name='theme-color', content='#000')
		//- Windows Phone
		meta(name='msapplication-navbutton-color', content='#000')
		//- iOS Safari
		meta(name='apple-mobile-web-app-status-bar-style', content='#000')
	body(class=body)
		.app
			block content


